.DS_Store

DerivedData/
build/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap

*.ipa
*.dSYM.zip
*.dSYM
*.crash

Pods/
Carthage/Build/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

